<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550399803190-3le6a11u3iub9lb271tg0jvdcdogunes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550399803190-3le6a11u3iub9lb271tg0jvdcdogunes</string>
	<key>API_KEY</key>
	<string>AIzaSyCpzioEJpmfPbfVNi5Fm7IaL_O6xqD15SE</string>
	<key>GCM_SENDER_ID</key>
	<string>550399803190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>frontyard.FineWeedMe</string>
	<key>PROJECT_ID</key>
	<string>baskettemp-7f170</string>
	<key>STORAGE_BUCKET</key>
	<string>baskettemp-7f170.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550399803190:ios:bef68a281902144c6afd97</string>
	<key>DATABASE_URL</key>
	<string>https://baskettemp-7f170.firebaseio.com</string>
</dict>
</plist>